<h4>This is add component assigned to router "add"</h4>

<p>Fill up the form and click submit to add</p>
<form>
  <div>
    <label>Please provide person name</label>&nbsp;
    <input name="name" type="text" [(ngModel)]="name">
  </div>
  <br>
  <div>
    <label>Please provide person address</label>&nbsp;
    <input name="address" type="text" [(ngModel)]="address">
  </div>
  <br>
  <div>
    <label>Please provide person phone number</label>&nbsp;
    <input name="phoneNumber" type="text" [(ngModel)]="phoneNumber">
  </div>
  <br>
  <div>
    <button (click)="submitData()">Click me to Add person</button>
  </div>
</form>