<h4>This is list component assigned to home component</h4>
<p>All data from database will be listed here in a table view with edit option</p>
<p class="noData" *ngIf="!model.dataToDisplay">No data to display</p>
<table *ngIf="model.dataToDisplay">
  <tr>
    <th>
      ID
    </th>
    <th>
      Name
    </th>
    <th>
      Address
    </th>
    <th>
      Phone number
    </th>
    <th>
      Action
    </th>
  </tr>
  <tr *ngFor="let data of model.dataToDisplay">
    <td>
      {{data.id}}
    </td>
    <td>
      {{data.name}}
    </td>
    <td>
      {{data.address}}
    </td>
    <td>
      {{data.phoneNumber}}
    </td>
    <td>
      <a href="/edit:{{data.id}}">Edit</a>/<a href="#">Delete</a>
    </td>
  </tr>
</table>